<!-- <mat-accordion>
  <form [formGroup]="rentalAddForm">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header style="font-size: 20pt;">
      Select date for rent.
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Select the day range you want to rent.</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="rentDate" placeholder="Rent date" id="rentDate">
        <input matEndDate formControlName="returnDate" placeholder="Return date" id="returnDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls.rentDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.returnDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <p>Selected range: {{range.value | json}}</p>
    <p>Renting for {{range.controls.rentDate.value}} to {{range.controls.returnDate.value}} </p>
    <button class="btn btn-success" (click)="rentSelectedCar()" routerLink="/payment"> Add to cart / Go to payment </button>
  </mat-expansion-panel>
</form>
</mat-accordion> -->


<mat-accordion>
  <form [formGroup]="rentalAddForm">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header style="font-size: 20pt;">
        Select date for rent.
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Select the day range you want to rent.</mat-label>
        <mat-date-range-input [formGroup]="rentalAddForm" [rangePicker]="picker">
          <input matStartDate formControlName="rentDate" placeholder="Rent date" id="rentDate">
          <input matEndDate formControlName="returnDate" placeholder="Return date" id="returnDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="rentalAddForm">Invalid start date</mat-error>
        <mat-error *ngIf="rentalAddForm">Invalid end date</mat-error>
      </mat-form-field>
      <p>:</p>
      <!-- <p>Selected range: {{range.value | json}}</p>
    <p>Renting for {{range.controls.rentDate.value}} to {{range.controls.returnDate.value}} </p> -->
      <button class="btn btn-success" (click)="isCarRented()"> Add to cart / Go to payment </button>
    </mat-expansion-panel>
  </form>
</mat-accordion>


<!-- 
<div class="content" style="margin-top: 2%;">
  <div class="col-md-10">
      <div class="card">
          <div class="card-header">
              <h5 class="title">Add a new brand</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="rentalAddForm">
                  <div class="mb-3">
                      <label for="rentDate">Rent Date</label>
                      <div class="form-group input-group">
                          <input type="date" id="rentDate" formControlName="rentDate" class="form-control">
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="returnDate">Return Date</label>
                    <div class="form-group input-group">
                            <input type="date" id="returnDate" formControlName="returnDate" class="form-control">
                    </div>
                </div>
              </form>
          </div>
          <div class="card-footer">
            <button data-bs-dismiss="modal" (click)="isCarRented()" class="btn btn-fill btn-outline-success">
              Ödemeye Geç
            </button>
          </div>
      </div>
  </div>
</div> -->