<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="card" style="width: 40rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">

              <label class="card-title" style="font-size: 15pt;margin-bottom: 20px;">User Name: {{user.firstName}} {{user.lastName}}</label>
              <div class="mb-3">
                <label for="exampleInputEmail1" style="font-size: 15pt;" class="form-label">Email address</label>
                <input type="email" placeholder="{{user.email}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <h3 class="card-item">Mail: {{user.email}}</h3> 
              <h3 class="card-item">Claims: {{claims}}</h3>  
              <button class="btn btn-primary" type="button">Bilgileri Güncelle</button>
            </div>
          </div>
    </div>
</div>