<div id="carImagesSlider" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button [ngClass]="getActiveImageClass(carImage)" *ngFor="let carImage of carImages; let i = index" type="button" 
      data-bs-target="#carouselExampleDark" [attr.data-bs-slide-to]="i" aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner text-center"  style="background-color: rgb(235, 235, 235)">
    <div class="carousel-item" style="width:445px;height: 400px; margin-top: 20px;"  [ngClass]="getActiveImageClass(carImage)"
      *ngFor="let carImage of carImages">
      <img style="max-width: 399px; max-height: 399px" class="card-img" 
      src="{{ imageUrl }}{{ carImage.imagePath }}" alt="image.imagePath" />
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carImagesSlider"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carImagesSlider"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
    </svg></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>