

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Birim ismi güncelle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="content d-flex justify-content-center">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12">
                            <div class="p-fluid p-formgrid p-grid">
                                <form [formGroup]="unitUpdateForm">
                                    <div class="mb-3">
                                        <h2 for="unitId" class="form-label">Değiştirmek istediğiniz birim adını seçin</h2>
                                        <div class="form-group">
                                            <div class="form">
                                                <select class="form-control" id="unitId" formControlName="unitId" aria-label="">
                                                    <option *ngFor="let unit of units" [value]="unit.unitId">{{unit.unitName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h2 for="unitName" class="form-label">Yeni Birim Adı</h2>
                                        <input type="text" class="form-control" id="unitName" formControlName="unitName" pInputText>
                                    </div>
                                </form>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="update()">Değişiklikleri Kaydet</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>